################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/poojaPathBooking/.vs
/poojaPathBooking/bin/Debug/net10.0
/poojaPathBooking/obj
*.http
*.md
/poojaPathBooking/bin/Debug/net8.0
